.contacts__info {
  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-between;
  column-gap: 2px;
}

.contacts__title {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  color: var(--almost-black);
  text-transform: uppercase;
}

.contacts__text {
  font-size: 16px;
  line-height: 20px;
  color: var(--special-text);
}

.contacts__city {
  display: block;
  margin-top: 20px;
}
