.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__info {
  padding-top: 28px;
  padding-bottom: 26px;
  background-color: var(--basic-white);

  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-between;
  column-gap: 2px;

  &--dark-background {
    background-color: var(--blocks-background);
  }

  @media (min-width: $tablet-width) {
    padding-top: 67px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    background-color: var(--basic-white);
    padding: 67px 89px 59px 76px;
    width: 570px;
    position: absolute;
    box-sizing: border-box;
    top: 95px;
    left: 110px;
    z-index: 1;
  }
}



.contacts__title {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  color: var(--almost-black);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  color: var(--special-text);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__city {
  display: block;
  // margin-top: 20px;
}
