.form {
  display: grid;
  row-gap: 22px;

  @media (min-width: $tablet-width) {
    row-gap: 75px;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__fieldset {
  border: none;
}

.form__list {
  display: grid;
  row-gap: 13px;

  &--owner {
    margin-top: 35px;

    @media (min-width: $tablet-width) {
      margin-top: 76px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }

  &--checkbox {
    margin-top: 34px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      row-gap: 32px;
      margin-top: 55px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 104px;
    }
  }
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__set {
  display: flex;
  column-gap: 10px;
  align-items: center;
  white-space: nowrap;
}

.form__input {
  padding: 13px 15px 14px 13px;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    font-family: var(--accent-font);
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--special-text);

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-text);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__textarea {
  padding: 9px 12px 9px 15px;
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    height: 174px;
    margin-top: 76px;
  }

  &::placeholder {
    font-family: var(--accent-font);
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--special-text);

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__bottom {
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    justify-items: start;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    justify-items: stretch;
    padding-top: 5px;
    padding-bottom: 82px;
  }
}

.form__submit {
  margin: auto;
}

.form__note {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}
