.main-nav {
  grid-column: 1 / -1;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
}

.main-nav__link {
  font-family: var(--accent-font);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;

  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
}
