.offers {
  padding-top: 22px;
}

.offers__list {
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.offers__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding: 24px 20px 18px 20px;
  background-color: var(--blocks-background);

  @media (min-width: $tablet-width) {
    row-gap: 24px;
    padding: 77px 62px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 27px;
    padding: 77px 51px 55px 52px;
  }
}

.offers__title {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 19px;

  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    gap: 62px;
  }

  &--weight-loss::before {
    content: "";
    background: url("../../img/icons/cat_sit.svg") no-repeat;
    background-size: contain;
    display: block;
    width: 50px;
    height: 53px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      content: "";
      background: url("../../img/icons/cat_sit.svg") no-repeat;
      background-size: contain;
      display: block;
      width: 100px;
      height: 106px;
    }
  }

  &--weight-gain::before {
    content: "";
    background: url("../../img/icons/cat_walk.svg") no-repeat;
    background-size: contain;
    display: block;
    width: 67px;
    height: 50px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      content: "";
      background: url("../../img/icons/cat_walk.svg") no-repeat;
      background-size: contain;
      display: block;
      width: 134px;
      height: 100px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.offers__description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--special-text);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
    max-width: 340px;
  }

  @media (min-width: $desktop-width) {
    max-width: 467px;
  }
}

.offers__link {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--special-text);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    color: var(--basic-black);
  }
}
