.product-card {
  font-size: 12px;
  line-height: 26px;
  color: var(--special-text);
  padding-top: 11px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2px;
  align-items: end;

  @media (min-width: $tablet-width) {
    padding: 0 37px 39px;
    width: 324px;
    grid-template-columns: 1fr;
    row-gap: 16px;

    background-color: var(--blocks-background);
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 40px 35px;
    width: 245px;
  }

  &--more {
    grid-template-columns: 1fr;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-family: var(--accent-font);
  font-weight: 400;
  color: var(--form-icon-mail);
  text-transform: uppercase;
  text-align: left;

  grid-area: 1 / 3 / 2 / 5;

  &--more {
    grid-area: unset;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__image {
  grid-area: 1 / 1 / 5 / 3;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1/ -1;
  }
}

.product-card__description {
  text-align: right;
  display: flex;
  justify-content: space-between;

  &--weight {
    grid-area: 2 / 3 / 3 / 5;

    &::before {
      content: "Масса";
    }
  }

  &--taste {
    grid-area: 3 / 3 / 4 / 5;

    &::before {
      content: "Вкус";
    }
  }

  &--price {
    grid-area: 4 / 3 / 5 / 5;

    &::before {
      content: "Цена";
    }
  }

  &--more {
    grid-area: unset;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-area: unset;

    font-size: 16px;
    line-height: 16px;
  }
}

.product-card__order-link {
  grid-column: 1 / -1;
}

.product-card__link {
  color: inherit;
}

.product-card__button {
  margin: auto;

  &--more {
    color: var(--special-text);
    background-color: var(--blocks-background);
  }
}
