.slider__list {
  display: flex;
  justify-content: center;
}

.slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.slider__control {
  display: flex;
  justify-content: space-between;
}

.slider__button {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
