.special-offer {

  background-color: var(--contrast-color);
  background-image: url("../../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 289px;
}

.special-offer__text {
  padding: 48px 61px 43px 58px;
  width: 161px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
