:root {
  --main-font: "Arial", sans-serif;
  --accent-font: "Oswald", "Arial", sans-serif;

  --basic-white: hsla(0, 0%, 100%, 1);
  --basic-black: hsla(0, 0%, 0%, 1);
  --almost-black: hsla(0, 0%, 7%, 1); // logo & contacts big text
  --special-text: hsla(0, 0%, 27%, 1);
  --special-dark-text: hsla(0, 0%, 77%, 1); // example
  --blocks-background: hsla(0, 0%, 95%, 1); // aka basic-grey
  --example-background-mobile: hsla(0, 0%, 92%, 1); // &catalog-line too
  --decoration-straight-line: hsla(0, 0%, 85%, 1);
  --decoration-border: hsla(0, 0%, 80%, 1);
  --form-input-border: hsla(0, 0%, 91%, 1);
  --form-icon-mail: hsla(0, 0%, 13%, 1); // &catalog-item-title too
  --scale: hsla(0, 0%, 86%, 1);
  --catalog-more-icon: hsla(0, 0%, 83%, 1);

  --contrast-color: hsla(97, 53%, 47%, 1);
  --icon: hsla(0, 0%, 40%, 1); // social
}
